* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style-type: none;
}
.nav-bar {
  width: 100%;
  background-color: #eee;
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.container-width {
  width: 87%;
  margin: auto;
}
.navigation {
  margin: auto;
  height: 80px;
  background-color: white;
  display: flex;
}
.nav-left {
  width: 35%;
  height: 100%;
  display: flex;
}
.nav-left ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-left ul li {
  height: 100%;
  display: flex;
  padding: 0 15px;
  place-items: center;
  font-size: 20px;
  font-weight: bold;
  transition: all 1s;
}
.nav-left ul li:hover {
  background-color: aqua;
}
.nav-center {
  width: 20%;
  height: 100%;
  padding: 15px 10px;
  display: flex;
  justify-content: end;
}
.nav-center img {
  width: 200px;
}
.nav-right {
  width: 45%;
  height: 100%;
}
.nav-right ul {
  height: 100%;
  gap: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-right ul li {
  text-transform: uppercase;
  padding: 0 15px;
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: bold;
}
.nav-right ul li i {
  font-size: 25px;
}
.nav-right ul li:hover {
  background-color: aqua;
}
.btn-search {
  display: flex;
  height: 60%;
  width: 250px;
  align-items: center;
  padding-left: 15px;
  border: 2px solid black;
  border-radius: 5px;
}
.btn-search input {
  height: 100%;
  width: 80%;
  outline: none;
  border: none;
  background-color: transparent;
}
.btn-search i {
  width: 20%;
}
.nav-right ul li:hover:first-child {
  background-color: transparent;
}
.hero-section {
  height: 800px;
  margin: auto;
}
.img-hero {
  width: 100%;
  height: 100%;
  position: relative;
}
.btn-container {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 15%;
  left: 40%;
}
.btn-container button {
  background-color: transparent;
  padding: 10px;
  color: white;
  border: 3px solid white;
  border-radius: 6px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}
.btn-container button:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.brand {
  height: 250px;
  display: flex;
  gap: 6px;
}
.brand-img {
  width: calc(100% / 7);
  height: 100%;
}
.brand-img img {
  width: 100%;
  height: 100%;
}
.life-style {
  height: 700px;
  display: flex;
  gap: 1%;
}
.life-style div {
  width: calc(100% / 3);
  height: 100%;
}
.life-style div img {
  width: 100%;
  height: 100%;
}
.top-bottom {
  margin-top: 1%;
  height: 900px;
  display: flex;
  gap: 1%;
}
.top-bottom div {
  width: calc(100% / 2);
  height: 100%;
}
.top-bottom div img {
  height: 100%;
  width: 100%;
}
.list-card {
  height: 600px;
}
.text-button {
  margin-top: 1%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-button button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 19px;
}
.cards {
  padding: 1%;
  height: 94%;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  gap: 1%;
}
.cards div {
  height: 100%;
}

/* card1 */

.card1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(121, 110, 110);
  border-radius: 15px;
  box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.701);
}
.card1 .img {
  width: 100%;
  height: 80%;
  position: relative;
}
.card1 .img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.card1 .img .discount {
  position: absolute;
  top: 10px;
  left: 3%;
}
.card1 .img .brand {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: absolute;
  right: 3px;
  bottom: 3px;
}
.card1 .img .discount button {
  padding: 4px 15px;
  border: 3px solid white;
  border-radius: 6px;
  font-weight: bold;
  background-color: red;
  color: white;
}
.card1 .price-botton {
  width: 100%;
  height: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  padding: 0 20px;
}
.card1 .price-botton .price {
  width: 70%;
  height: 100%;
  display: flex;
  gap: 10px;
}
.card1 .price-botton .price p {
  font-size: 20px;
  color: red;
}
.card1 .price-botton .price s {
  font-size: 20px;
  color: dimgrey;
}
.card1 .price-botton .botton {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.card1 .price-botton .botton button {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
.card1 .text-detail {
  width: 100%;
  height: 5%;
  padding: 0 20px;
   
}
.card1 .color {
  width: 100%;
  height: 5%;
  padding: 0 20px;
}
.card1 .color ul {
  display: flex;
  gap: 10px;
}
.card1 .color li:first-child {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(115, 137, 137);
}
.card1 .color li:last-child {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(29, 167, 167);
}

/* card2 */

.card2 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(121, 110, 110);
  border-radius: 15px;
  box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.701);
}
.card2 .img {
  width: 100%;
  height: 80%;
  position: relative;
}
.card2 .img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.card2 .img .discount {
  position: absolute;
  top: 10px;
  left: 3%;
}
.card2 .img .discount button {
  padding: 4px 15px;
  border: 3px solid white;
  border-radius: 6px;
  font-weight: bold;
  background-color: red;
  color: white;
}
.card2 .img .brand {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: absolute;
  right: 3px;
  bottom: 3px;
}
.card2 .price-botton {
  width: 100%;
  height: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  padding: 0 20px;
}
.card2 .price-botton .price {
  width: 70%;
  height: 100%;
  display: flex;
  gap: 10px;
}
.card2 .price-botton .price p {
  font-size: 20px;
  color: red;
}
.card2 .price-botton .price s {
  font-size: 20px;
  color: dimgrey;
}
.card2 .price-botton .botton {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.card2 .price-botton .botton button {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
.card2 .text-detail {
  width: 100%;
  height: 5%;
  padding: 0 20px;
}

/* card3 */

.card3 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(121, 110, 110);
  border-radius: 15px;
  box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.701);
}
.card3 .img {
  width: 100%;
  height: 80%;
  position: relative;
}
.card3 .img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.card3 .img .discount {
  position: absolute;
  top: 10px;
  left: 3%;
}
.card3 .img .discount button {
  padding: 4px 15px;
  border: 3px solid white;
  border-radius: 6px;
  font-weight: bold;
  background-color: red;
  color: white;
}
.card3 .img .brand {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: absolute;
  right: 3px;
  bottom: 3px;
}
.card3 .price-botton {
  width: 100%;
  height: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  padding: 0 20px;
}
.card3 .price-botton .price {
  width: 70%;
  height: 100%;
  display: flex;
  gap: 10px;
}
.card3 .price-botton .price p {
  font-size: 20px;
  color: red;
}
.card3 .price-botton .price s {
  font-size: 20px;
  color: dimgrey;
}
.card3 .price-botton .botton {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.card3 .price-botton .botton button {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
.card3 .text-detail {
  width: 100%;
  height: 5%;
  padding: 0 20px;
}

/* card4 */

.card4 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(121, 110, 110);
  border-radius: 15px;
  box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.701);
}
.card4 .img {
  width: 100%;
  height: 80%;
  position: relative;
}
.card4 .img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.card4 .img .discount {
  position: absolute;
  top: 10px;
  left: 3%;
}
.card4 .img .discount button {
  padding: 4px 15px;
  border: 3px solid white;
  border-radius: 6px;
  font-weight: bold;
  background-color: red;
  color: white;
}
.card4 .img .brand {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: absolute;
  right: 3px;
  bottom: 3px;
}
.card4 .price-botton {
  width: 100%;
  height: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  padding: 0 20px;
}
.card4 .price-botton .price {
  width: 70%;
  height: 100%;
  display: flex;
  gap: 10px;
}
.card4 .price-botton .price p {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.card4 .price-botton .price s {
  font-size: 20px;
  color: dimgrey;
}
.card4 .price-botton .botton {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.card4 .price-botton .botton button {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
.card4 .text-detail {
  width: 100%;
  height: 5%;
  padding: 0 20px;
}
.footer{
  background-color: aqua;
  height: 400px;
  display: flex;
  margin-top: 30px;
}
.footer > div{
  width: 20%;
  height: 100%;
  background-color: chartreuse ;
}