* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul{
    list-style-type: none;
}
.nav-bar {
  width: 100%;
  background-color: #eee;
}
.navigation {
  margin: auto;
  width: 87%;
  height: 80px;
  background-color: white;
  display: flex;
}
.nav-left{
  width: 35%;
  height: 100%;
  display: flex;
}
.nav-left  ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-left ul li{
    height: 100%;
    display: flex;
    padding: 0 15px;
    place-items: center;
    font-size: 25px;
    font-weight: bold;
    transition: all 1s;
}
.nav-left ul li:hover{
    background-color: aqua;
}
.nav-center {
  width: 20%;
  height: 100%;
  padding: 15px 10px;
  display: flex;
  justify-content: end;
}
.nav-center img{
    width: 200px;
}
.nav-right {
  width: 45%;
  height: 100%;
  
}
.nav-right ul{
  height: 100%;
  gap: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-right ul li {
  text-transform: uppercase;
  padding: 0 15px;
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: bold;
}
.nav-right ul li i{
  font-size: 25px;
}
.nav-right ul li:hover{
    background-color: aqua;
}
.btn-search{
  display: flex;
  height: 60%;
  width: 250px;
  align-items: center;
  padding-left: 15px;
  border: 2px solid black;
  border-radius: 5px;
  
}
.btn-search input{
  height: 100%;
  width: 80%;
  outline: none;
  border: none;
  background-color: transparent;
}
.btn-search i{
  width: 20%;

}
.nav-right ul li :hover: first-child{
  background-color: transparent;
}
